:root {
  --basic-black: #000000;
  --basic-dark-blu: #293449;
  --basic-light-blue: #32425C;
  --basic-dark-gray: #A9A9A9;
  --basic-grin: #63A63E;
  --basic-blue-tint: #293449;
  --basic-red: #EE3643;
  --basic-white: #FFFFFF;
  --basic-yelowe: #FFD180;
  --basic-grey-light: #C5C5C5;
  --basic-mid-night: #1D2739;
  --basic-category-materials: #FFBF47;
  --basic-category-tool: #3BBCE3;
  --basic-category-equipment: #DC91D8;
  --basic-category-discounts: #8ED78F;
  --basic-category-delivery: #FFC047;
  --basic-line: #F9F5F0;
  --basic-light-light-blue: #F1F5F7;
  --basic-social-button: #212A3A;
  --basic-footer-address: #F3F7F9;
  --basic-border-products: #EAEAEA;
  --basic-user-checkout-hover: #5FBB2D;
}

/* Global */
* {
  padding: 0;
  margin: 0;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Verdana, sans-serif;
  font-weight: normal;
  color: var(--basic-black)
}

a {
  text-decoration: none;
  list-style: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/*Main header*/

.header {
  min-height: 310px;
  display: block;
  background-color: var(--basic-light-light-blue);
}

.header a {
  display: block;
}

.header h1 {
  width: 197px;
  margin: 49px 71px 40px 52px;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.header-top-line {
  height: 42px;
  display: flex;
  font-size: 18px;
  line-height: 24px;
}

.header-top {
  width: 100%;
  background-color: var(--basic-dark-blu);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-top-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header-top-logo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-top-logo-img {
  padding: 10px 54px 7px 56px;
}

.header-top a {
  color: var(--basic-white);
}

.header-top-search {
  display: grid;
  grid-template-columns: 1fr;
}

.header-top-search input[type="text"] {
  box-sizing: border-box;
  width: 271px;
  height: 42px;
  padding-left: 48px;
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-dark-blu);
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
  border: none;
}

.order {
  color: var(--basic-grin);
}

.order:hover {
  background-color: #5fbb2d;
}

.header-top a:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-top-user-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header-top-user-link {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: center;
}

.header-top-user-link:hover {
  padding-top: 10px;
  padding-bottom: 8px;
  width: 150px;
  background-color: #212a3a;
  outline: none;
}

.header-top-user-checkout {
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: var(--basic-grin);
  text-align: center;
}

.header-top-user-checkout:hover,
.header-top-user-checkout:focus {
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: var(--basic-user-checkout-hover);
  text-align: center;
}


.header-phone {
  padding: 10px 10px 4px;
  font-size: 21px;
  margin-right: 42px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-red);
  border: 3px solid white;
}

.header-top-contact-address {
  position: relative;
  margin-top: 46px;
}

.address {
  font-family: Cuprum, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 268px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-mid-night);
}

.header-top-contact-main-registration {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-top-contact-main-registration li {
  margin-top: 46px;
  margin-left: 10px;
}

.header-link-login {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 27px;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: var(--basic-black)
}

.header-link-login svg {
  padding-right: 14px;
  padding-left: 14px;
}

.header-link-registration {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: var(--basic-black)
}

.header-link-registration {
  display: block;
  padding: 12px 25px 12px 25px;
}

/*Navigation*/
.header-main-navigation {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-light-blue);
  box-shadow: inset 0 -5px 0 #293449;
}

.header-main-navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
}

.header-main-navigation a:hover {
  background-color: var(--basic-dark-blu);
}

.header-main-navigation a {
  display: block;
  padding: 21px 30px 21px 30px;
  line-height: 17px;
}

.header-main-navigation a:active {
  background-color: var(--basic-mid-night);
}

.header-main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Category*/
.category-title {
  display: none;
}

.products,
.manufactures,
.category {
  list-style: none;
}

.category-list li {
  position: relative;
  width: 300px;
  list-style: none;
  text-align: center;
}

.category-list img {
  margin: 0 0 -56px 216px;
}

.category-list {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "a a a a b b b b c c c c"
                        "d d d d d d d d e e e e"
                        "d d d d d d d d f f f f";
  margin-top: 59px;
  margin-bottom: 59px;
}

.category-list h3 {
  margin: 20px 0 -20px 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
}

.category-link {
  display: block;
  -webkit-box-sizing: border-box;
  width: 135px;
  text-decoration: none;
  border-radius: 3px;
}

.category-link:hover {
  background-color: #A9A9A9;
  opacity: 0.3;
}

.category-materials {
  position: relative;
  width: 300px;
  height: 123px;
  grid-area: a;
  background-color: var(--basic-category-materials);
}

.category-materials a,
.category-tool a,
.category-equipment a,
.category-discounts a,
.category-delivery a {
  margin: 14px 53px 21px 23px;
  padding: 11px 21px 9px 21px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--basic-white);
}

.new-mark {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 100;
  width: 60px;
  height: 59px;
  background-image: url(../img/new-mark.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-tool {
  width: 300px;
  height: 123px;
  grid-area: b;
  background-color: var(--basic-category-tool);
}

.category-equipment {
  width: 300px;
  height: 123px;
  grid-area: c;
  background-color: var(--basic-category-equipment);
}

.category-perforators {
  grid-area: d;
  width: 620px;
  height: 266px;
  background: url(../img/perforator.jpg) no-repeat;
  background-size: 620px 266px;
}

.category-perforators p {
  margin: 5px 0 0 24px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.category-perforators h3 {
  font-size: 36px;
  line-height: 36px;
  margin: 23px 0 5px 24px;
  text-align: initial;
  text-transform: uppercase;
  color: var(--basic-white);
}

.category-perforators-title {

}

.category-perforators-link {
  width: 192px;
  display: grid;
  align-items: center;
  text-align: center;
  margin: 113px 0 0 24px;
  padding: 11px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.category-discounts {
  width: 300px;
  height: 123px;
  grid-area: e;
  background-color: var(--basic-category-discounts);
}

.category-delivery {
  width: 300px;
  height: 123px;
  grid-area: f;
  background-color: var(--basic-category-delivery);
}


/*Products*/

.products ul,
.manufactures ul {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-gap: 20px;
  list-style: none;
  margin-bottom: 70px;
  margin-top: 20px;
}

.section-header {
  display: grid;
  grid-template-columns: 690px 1fr;
  background-color: var(--basic-line);
}

.section-header h2 {
  padding: 30px 0 30px 26px;
  font-weight: normal;
  font-size: 30px;
}

.section-header a {
width: 192px;
display: grid;
align-items: center;
text-align: center;
margin: 25px 24px 27px 0;
padding: 11px;
text-transform: uppercase;
background-color: var(--basic-red);
}

.category-perforators-link-item,
.description-link {
text-transform: uppercase;
background-color: var(--basic-red);
width: 192px;
display: grid;
align-items: center;
text-align: center;
margin: 25px 24px 27px 0;
padding: 11px;
}

.description-contacts-link {
text-transform: uppercase;
background-color: var(--basic-red);
width: 279px;
display: grid;
align-items: center;
text-align: center;
margin: 25px 24px 27px 0;
padding: 11px;
}

/*Popular-products-case*/

.products-old-price {
  padding: 7px 0;
  font-weight: bold;
  font-size: 17px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  text-decoration: line-through;
  color: var(--basic-dark-gray)
}

.products-new-price {
  text-align: center;
  justify-self: center;
  height: 38px;
  color: var(--basic-white);
  width: 160px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  background-image: url(../img/new-price.svg);
  background-repeat: no-repeat;
  background-position: 13px 0;
}

.products-list h3 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  padding: 8px 20px 7px 19px;
  color: var(--basic-black);
}

.products-list span {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}


.products-list-item {
  position: relative;
  display: grid;
  text-align: center;
  border: 1px solid var(--basic-border-products);
}

.products-list-item img {
  order: -1;
  margin-bottom: 16px;
  width: 184px;
  height: 164px;
}

/*Services*/
.services {
  background-color: var(--basic-light-light-blue);
}

.services-center {
  display: grid;
  min-height: 523px;
}

.services-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-manage-item {
  width: 240px;
  list-style: none;
  font-size: 21px;
  line-height: 30px;
}

.services-content-item {
  width: 240px;
  list-style: none;
  font-size: 21px;
  line-height: 30px;
}

.services-delivery-img {
  margin: -142px -377px -51px 125px;
}

.services-content-container {
  width: 100%;
}

.services-manage-button-active {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 61px;
  border: 1px solid #EAEAEA;
  align-items: center;
  color: var(--basic-light-blue);
  background-color: var(--basic-white);
}

.services-manage-button {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 61px;
  border: 1px solid #3e4f6b;
  align-items: center;
  color: #FFFFFF;
  background-color: var(--basic-light-blue);
}

.services-title {
  margin-right: 540px;
}

.services p {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services-delivery {

}

.services-content-item p {
  padding-top: 30px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.services h2 {
  margin-top: 64px;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
}

.services-content-item h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: var(--basic-light-blue);
}

/*Description*/
.description {
  display: grid;
  align-items: center;
  grid-template-columns: 460px 300px;
  grid-gap: 180px;
  min-height: 496px;
}

.description-title h2 {
  margin-bottom: 24px;
}

.description-contacts {
  display: grid;
  grid-template-rows: 51px 42px 1fr;
  margin-bottom: 12px;
}

.description-contacts p {
  width: 180px;
  height: 49px;
}

.description-contacts-map {
  margin-top: 32px;
}

.description h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.description p {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

/*Partner*/

.description-partner-item {
  list-style: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 1px;
}

.description-partner-item-li {
  margin-bottom: 16px;
}

.description-partner-item-link {
  position: relative;
  padding-left: 35px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-black);
}

.description-partner-item-link::after {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 25px;
  height: 2px;
  content: '';
  background-color: var(--basic-red);
}

.description-catalog {
  background: var(--basic-light-light-blue);
}

/*Footer*/

.footer {
  background-color: var(--basic-light-blue);
}

.footer-top-right-navigation {
  display: flex;
  min-height: 193px;
  list-style: none;
}

.footer-bottom {
  background-color: var(--basic-dark-blu);
}

.footer-bottom-grid {
  display: grid;
  grid-template-columns: 250px 350px 1fr;
  min-height: 107px;
  align-items: center;
}

.footer-logo {
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-container {
  display: grid;
  grid-template-columns: 340px 600px;
  grid-gap: 14px;
  min-height: 193px;
}

.footer-city-address {
  display: block;
  margin-top: 50px;
  width: 350px;
}

.footer-logo-img {
  padding-top: 20px;
  display: grid;
  justify-items: center;
}

.footer-address {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-footer-address);
}

.footer-phone-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-footer-address);
}

.footer-navigation-site-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 58px;
  margin-top: 37px;
  list-style: none;
}

.footer-navigation-category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 58px;
  margin-top: 34px;
  margin-left: 63px;
  list-style: none;
}

.footer-navigation ul {
  list-style: none;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-light-blue);
}

.footer-navigation-category-list a {
  color: var(--basic-yelowe);
}

.footer-copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-socials-list {
  display: grid;
  margin-left: 145px;
  margin-right: 170px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  list-style: none;
  align-items: center;
}

.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 51px;
  list-style: none;
  margin-left: 55px;
}

.footer-mail,
.footer-developed {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social-list a {
  color: var(--basic-yelowe);
}

.footer-mail a,
.footer-developed a {
  color: var(--basic-yelowe);
}

.footer-socials-item {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #212a3a;
  border-radius: 50%;
}


.user-navigation-list {
  font-family: Cuprum sans-serif;
  font-style: normal;
  color: var(--basic-black);
  list-style: none;
}

.user-name-item {
  font-family: Cuprum sans-serif;
  font-style: normal;
  color: var(--basic-black);
  list-style: none;
}

.user-orders-item {
  font-family: Cuprum, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-blue);
  text-decoration-line: underline;
}

/*Catalog container*/

.breadcrumbs-list-item {
  position: relative;
  margin-left: 41px;
}

.breadcrumbs,
.breadcrumbs a,
.breadcrumbs-list {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
  color: var(--basic-black)
}

.perforator-background {
  width: 940px;
  background: var(--basic-light-light-blue);
  padding: 30px 0 30px 26px;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-light-blue);
  text-transform: uppercase;
}

.filters-form-title {
  background-color: #F7F3EC;
}

.filters {
  text-transform: uppercase;
  background-color: #F7F3EC;
}

.filters-title {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.minimally {
  Width: 95px;
  Height: 38px;
  background-color: #F7F3EC;
}

.maximum {
  Width: 95px;
  Height: 38px;
  background-color: #F7F3EC;
}

.line-price {
  display: inline-block;
}

.filters legend {
  font-family: PTSans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filters-option-list {
  list-style: none;
  font-family: PTSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}


.filters-show {
  font-family: PTSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
  width: 220px;
  height: 38px;
  background: var(--basic-white);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
}

.catalog-sort,
.catalog-sort li {
  font-family: PT Sans sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
  background-color: #F7F3EC;
}

.catalog-sort-price {
  text-transform: uppercase;
  color: #EE3643;
}

.catalog-sort-type {
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-sort-function {
  text-transform: uppercase;
  color: var(--basic-black);
}

.prise-catalog {
  width: 240px;
  font-family: PTSans, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: var(--basic-black);
}

.products-pagination {
  list-style: none;
}

.products-pagination a {
  font-family: PT Sans sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
  background: var(--basic-white);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

.products-pagination-active a {
  font-family: PT Sans sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--basic-white);
  background: var(--basic-red);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

